body{
    background: black;
    color: white;
    position: relative;
}

.branches,.tags{
    span {
        background: gray;
        padding: 10px;
        margin: 5px;
        color: whitesmoke;
        &:hover {
            cursor: pointer;
        }
        &.current {
            background: green;
        }
    }
}

.remote{
    position: absolute;
    right: 0; top:0;
    background: gray;
    padding:10px;
}

